@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');
@import './assets/scss/index';

html {
  * {
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }
}

html, body, #root {
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

// remove autofill styles in chrome
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}


$mq-mobile: 320px;
$mq-tablet: 768px;
$mq-laptop: 1024px;
$mq-desktop: 1280px;
